#portfolio .col {
  padding-left: 0px;
  padding-right: 0px;
}

#portfolio-content-row {
  margin-bottom: 5rem;
}

#portfolio-content-row .col {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

