#resume-right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
}
.row.resume-row {
  margin: 1rem 2rem 1rem 2rem;
}
.resume-subrow {
  margin-bottom: 1rem;
}
.resume-subcol {
  padding: 0;
}

.resume-section-header {
  margin-bottom: 1rem;
}
.resume-block {
  background: #BF3C1F;
  min-height: fit-content;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
