* {
  box-sizing: border-box;

}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  background-color: #fff7e0;
  overflow-x: hidden;
}
body {
  overflow-y: hidden;
}
.container-fluid {
  padding: 0;
}

#right-align-btn-col {
  padding: 0 3rem;
  display: flex;
  justify-content: flex-end;
}

/* ~ TEXT ~ */
h1, h2, h3, h4, h5, h6, p {
  z-index: 10;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
}

h3 {
  font-size: 2rem;
  font-weight: 200;
}

h4 {
  font-size: 1.75rem;
  font-weight: 400;
}

h5{
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

/* ~ HOME ~ */
#home .row .col-8 {
  margin-left: 3rem;
}

/* ~ ABOUT ~ */ 
#about {
  margin-top: 45px;
}
#about .col-md-8 {
  padding-left: 2rem;
}
#about .row .col-md-5 {
  display: flex;
  justify-content: center;
}
#headshot {
  max-height: 100%;
  height: auto;
  max-width: 75%;
  margin-bottom: 1rem;
}

/* ~ RESUME ~ */ 


/* ~ MEDIA QUERIES ~ */
@media screen and (max-width: 1460px) {
  /* ~ ABOUT ~ */
  #see-my-work-btn {
    background-color: #F9CEC7;
    color: black;
  }
}
@media screen and (max-width: 1300) {
  #flooring-specialist-block .date, #file-admin-block .date{
    float: none;
  }
}
@media screen and (max-width: 1268px){
  /* ~ RESUME ~ */ 
  .date {
    float: none;
  }
}

@media screen and (max-width: 1050px) {
  #headshot {
    max-width: 350px;
  }
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 3.5rem
  }
  p {
    font-size: 1.3rem
  }
} 
@media screen and (max-width: 767px) {
  /* ~ GENERAL ~ */
  h1 {
    font-size: 3rem;
  }
  .section-header {
    margin: 1rem 0 0 1.5rem;
  }
  /* ~ HOME ~ */ 
  #home-col {
    margin-left: 2rem;
  }
  /* ~ ABOUT ~ */
  #about .row #about-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #about .row #about-col h1 {
    font-size: 2.5rem;
  }
  #about .row #about-col p {
    width: 300px;
    font-size: 1.3rem;
  }
  #see-my-work-btn {
    align-self: center;
  }
  /* ~ RESUME ~ */
  .resume-row {
    margin: 1rem 1.5rem 1rem 1.5rem;
  }
  #resume-right-col {
    padding-left: 0;
  }
  .resume-block {
    margin-top: 1rem;
    height: fit-content;
  }
  .resume-section-header {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 700px) {
  /* ~ GENERAL ~ */
  img {
    height: 350px;
  }
  /* ~ WAVE ~ */
  .home svg.wave, .about-wave {
    right: -8rem;
  }
  /* ~ SKILLS ~ */
  #skills-block-row {
    margin: 0;
    flex-direction: column;
  }
  .skills-block {
    height: 15rem;
    margin-bottom: 2rem;
  }
  #skills-to-resume-btn-row {
    margin: 0;
  }
}
@media screen and (max-width: 580px) {
  /* ~ WAVE ~ */
  .home svg.wave, .about-wave {
    right: -10rem;
  }
}
@media screen and (max-width: 550px) {
  /* ~ GENERAL ~ */

  /* ~ HOME ~*/
  #home-col {
    margin-left: 1rem;
  }

}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem
  }
  p {
    font-size: 1rem
  }
  .btn {
    font-size: .85rem;
  }
} 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  /* ~ SIDENAV ~*/
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  /* ~ GENERAL ~*/
  section {
    margin-bottom: 90px;
  }
  h1 {
    font-size: 2rem;
  }
  #right-align-btn-col {
    justify-content: center;
  }
}