section {
  min-height: 100vh;
  padding: 90px 0;
  position: relative;
}


.content-row {
  min-height: fit-content;
  height: -webkit-fill-available;
  margin: 0 0 45px 0;
}

@media screen and (max-width: 450px) {
  /* ~ GENERAL ~*/
  section {
    margin-bottom: 90px;
  }
}