section {
  min-height: 100vh;
  height: fit-content;
  position: relative;
  background-color: #fff7e0;
}


@media screen and (max-width: 450px) {
  /* ~ GENERAL ~*/
  section {
    margin-bottom: 90px;
  }
}