@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

div.container-fluid {
  background-color: #fff7e0;
  min-height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}

div.row {
  margin-left: 0;
  margin-right: 0px
}

#right-align-btn-col {
  padding: 0 3rem;
  display: flex;
  justify-content: flex-end;
}

/* ~ TEXT ~ */
h1, h2, h3, h2, h5, h6{
  font-family: 'Raleway', sans-serif;
}

h1{
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
}

h3 {
  font-size: 2rem;
  font-weight: 200;
}

h4 {
  font-size: 1.75rem;
  font-weight: 400;
}

h5{
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

